/* -------------------------------------------

Name: 		ronnielutalo.github.io
Author:		Ronnie Lutalo
Portfolio:  https://ronnielutalo.github.io

01. Preloader
02. Buttons
03. Link
04. Social icons
05. Slider elements

------------------------------------------- */

/*****************************************

01. Fonts and typography

*****************************************/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext');

/*

font-family: 'poppins', sans-serif;
font-family: 'Poppins', sans-serif;

*/

* {
    color: rgba(235, 235, 240, 1)
}

hr {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    color: rgba(235, 235, 240, 1)
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

p,
li,
a,
blockquote{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Poppins', sans-serif;
}

h1,
.h1 {
    font-size: 90px;
    letter-spacing: -3px;
    text-shadow: 0 10px 20px rgba(20, 20, 30, 0.20);
}

h2,
.h2 {
    font-size: 60px;
    text-shadow: 0 10px 20px rgba(20, 20, 30, 0.20);
    position: relative;
}

h3,
.h3 {
    font-size: 28px;
    text-shadow: 0 10px 20px rgba(20, 20, 30, 0.20);
}

h4,
.h4 {
    font-size: 16px;
    text-shadow: 0 10px 20px rgba(20, 20, 30, 0.20);
}

.bold {
    font-weight: 900;
}

.up {
    text-transform: uppercase;
}

.opas {
    opacity: .6;
}

.light {
    font-weight: 200;
}

hr {
   background-color: rgba(235, 235, 240, .2);
    margin: 0;
}

.text-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.icon {
    opacity: .6;
    width: 55px;
}

/*****************************************

02. Buttons

*****************************************/

button:focus {
    outline: inherit;
}

.button {
    position: relative;
    border-radius: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    font-family: 'Poppins', sans-serif;
    border: solid 2px rgba(230, 230, 235, .9);
    color: rgba(230, 230, 235, .9);
    box-shadow: 0px 10px 20px 0 rgba(20, 20, 30, 0.20);
    -webkit-transition: .3s;
    transition: .3s;
}

.button i {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 0;
    width: 0;
    font-size: 14px;
    -webkit-transition: .3s;
    transition: .3s;
}

.button:hover.button i {
    text-align: center;
    opacity: 1;
    margin-left: 15px;
}

.button-1 {
    padding: 17px 40px;
    border-radius: 40px;
    display: inline-block;
    height: 50px;
    border: none;
}

/* -------------------------------

03. Link

--------------------------------*/

.default-link {
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 40px;
    padding: 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.default-link.current,
.default-link:hover {
    padding: 15px 35px 13px;
    background-color: rgba(230, 230, 235, .05);
}

/* -------------------------------

04. Social icons

--------------------------------*/

.social {
    margin-left: -5px;
    display: flex;
}

.social li a {
    font-size: 15px;
    border-radius: 50%;
    margin-right: 2px;
    display: flex;
    opacity: .6;
    justify-content: center;
    height: 35px;
    width: 35px;
    text-align: center;
    list-style-type: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.social li a:hover {
    margin-left: 0;
    opacity: 1;
    text-decoration: none;
    background-color: rgba(230, 230, 235, .05);
}

.social li i {
    align-self: center;
}

/* -------------------------------

05. Slider elements

--------------------------------*/

.slider-nav {
    display: flex;
    overflow: hidden;
    z-index: 999;
}

.swiper-prev,
.swiper-next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    height: 70px;
    width: 70px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.swiper-prev:focus,
.swiper-next:focus {
    outline: inherit;
}

.swiper-prev:before {
    content: "first";
    display: flex;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: -70px;
    height: 70px;
    width: 70px;
    color: #fff;
}

.swiper-next:before {
    content: "last";
    display: flex;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: -70px;
    height: 70px;
    width: 70px;
    color: #fff;
}

.swiper-button-disabled {
    overflow: visible;
    height: 0;
    color: transparent;
}

.swiper-button-disabled i {
    opacity: 0;
}

.swiper-button-disabled:hover {
    cursor: not-allowed;
}

.swiper-pagination {
    position: relative;
}

.swiper-pagination-bullet {
    margin: 0 7px;
    transform: scale(1.3);
    background-color: rgba(235, 235, 240, 1);
    -webkit-transition: .3s;
    transition: .3s;
}

.swiper-pagination-bullet:focus {
    outline: inherit;
}

.swiper-pagination-bullet-active {
    transform: scale(1.7);
}