/* -------------------------------------------

Name: 		ronnielutalo.github.io
Author:		Ronnie Lutalo
Portfolio:  https://ronnielutalo.github.io

01. Preloader
02. Space
03. Common styles
04. Sidebar
05. Header
06. Works grid
07. Works slider
08. Works carousel
09. Portfolio cards
10. info
11. Brands
12. Call to action
13. Footer
14. Single project page
15. About page
16. Blog pages
17. Contact page
18. Page 404

------------------------------------------- */

/* -------------------------------

01. Preloader

--------------------------------*/

.preloader svg {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    animation: preloader .5s linear;
}

@keyframes preloader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* -------------------------------

02. Space

--------------------------------*/

.mt-15 {
    margin-top: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-90 {
    margin-bottom: 90px;
}

.p-60-0-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.p-60-0-0 {
    padding-top: 60px;
}

.p-0-0-60 {
    padding-bottom: 60px;
}

.p-0-0-90 {
    padding-bottom: 90px;
}

.p-90-0-60 {
    padding-top: 90px;
    padding-bottom: 60px;
}

.p-90-0-0 {
    padding-top: 90px;
}

.p-90-0-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.p-75-0-90 {
    margin-top: 75px;
    margin-bottom: 90px;
}

/* -------------------------------

03. Common

--------------------------------*/

body {
    background-color: rgba(20, 20, 30, 1);
    overflow-x: hidden;
}

.frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.page-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    opacity: 0;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 10px 10px;
    background-image:
        radial-gradient(rgba(26, 26, 41, 1) 15%, transparent 0),
        radial-gradient(rgba(26, 26, 41, 1) 15%, transparent 0);
}

.cursor {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: -19px;
    margin-left: -19px;
    transform: scale(.3);
    border-radius: 50%;
    background-color: rgba(235, 235, 240, .2);
    z-index: 1;
    pointer-events: none;
}

.pet {
    transform: scale(1);
    background-color: rgba(235, 235, 240, .1);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(20, 20, 30, 1);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/* -------------------------------

04. Sidebar

--------------------------------*/

.sidebar {
    position: fixed;
    z-index: 9999999;
    right: 0;
    height: 100vh;
    width: 500px;
    padding-left: 70px;
    display: flex;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    background-image: linear-gradient(-180deg, #191923 0%, #14141E 100%);
    -webkit-box-shadow: 0px 5px 10px 0 rgba(20, 20, 30, 0.20);
    box-shadow: 0px 5px 10px 0 rgba(20, 20, 30, 0.20);
}

.menu-btn {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 70px;
    font-size: 28px;
    border-radius: 1px;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px 0 rgba(20, 20, 30, 0.20);
    box-shadow: 0px 5px 10px 0 rgba(20, 20, 30, 0.20);
}

.menu-btn i {
    align-self: center;
}

.menu-open {
    position: absolute;
    left: -70px;
}

.menu-close {
    position: absolute;
    left: 0;
}

.lang {
    display: flex;
    position: absolute;
    height: 70px;
    right: 65px;
}

.lang p {
    align-self: center;
    margin-right: 10px;
}

.lang a {
    align-self: center;
    opacity: .3;
    text-transform: uppercase;
    padding-top: 11px;
    margin: 2px;
    font-size: 11px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    list-style-type: none;
    -webkit-transition: .5s;
    transition: .5s;
}

.lang a:hover {
    opacity: 1;
    text-decoration: none;
    background-color: rgba(230, 230, 235, .05);
}

.lang .active {
    opacity: 1;
    background-color: rgba(230, 230, 235, .05);
}

.menu {
    position: relative;
    align-self: center;
}

.menu-link {
    font-size: 28px;
    font-weight: 800;
    display: block;
    padding-bottom: 10px;
    -webkit-transition: .5s;
    transition: .5s;
}

.menu-link:hover {
    margin-left: 10px;
}

.drop-menu {
    margin-left: 15px;
}

.drop-menu li a {
    opacity: .6;
    padding: 5px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: .5s;
    transition: .5s;
}

.drop-menu li a:hover {
    opacity: 1;
    margin-left: 10px;
}

.drop-menu li:first-child {
    padding-top: 5px;
}

.drop-menu li:last-child {
    padding-bottom: 15px;
}

/* -------------------------------

05. Header

--------------------------------*/

.header {
    width: 100vw;
    height: 100vh;
}

.header-sm {
    width: 100vw;
    height: calc(60vh - 90px);
}

.header .header-bg,
.header .overlay {
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 150vh;
}

.header-sm .header-bg,
.header-sm .overlay {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100vw;
    height: 60vh;
}

.overlay-3 {
    display: flex;
    height: 100%;
    width: 100%;
}

video {
    height: 150vh;
    position: absolute;
}

.swiper-header-slideshow .swiper-wrapper {
    position: absolute;
    height: 150vh;
    z-index: -10;
}

.header-slide {
    background-size: cover;
    height: 150vh;
    width: 100vw;
}

.main-title {
    width: 100%;
    align-self: center;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 15px 30px;
    z-index: 999;
}

.bottom-panel {
    position: absolute;
    z-index: 999;
    padding-left: 30px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    align-self: center;
    letter-spacing: 0px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 26px;
    font-weight: 900;
}

.logo-fix {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    margin-right: 3px;
    margin-left: 3px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}

.navigation li a {
    display: block;
    padding: 15px;
}

.header .header-content {
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.header-sm .header-content {
    display: flex;
    justify-content: center;
    height: 60vh;
    position: relative;
}

.scroll-hint {
    width: 100px;
    position: absolute;
    bottom: 30px;
    text-align: center;
    opacity: .6;
    -webkit-transition: .5s;
    transition: .5s;
}

.scroll-hint:hover {
    opacity: 1;
}

.scroll-hint:hover .mouse {
    margin-bottom: 15px;
}

.mouse {
    margin: auto;
    border: solid 2px rgba(235, 235, 240, 1);
    height: 43px;
    width: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    -webkit-transition: .5s;
    transition: .5s;
}

.finger {
    height: 5px;
    width: 5px;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
}

.scroll-hint p {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}

.scroll-hint:hover.cursor {
    transform: scale(1.5)
}

.breadcrumbs ul {
    align-self: center;
}

.breadcrumbs ul li {
    display: inline-block;
}

.breadcrumbs ul li a {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    border-radius: 40px;
    padding: 17px 15px 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

.breadcrumbs ul .active {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    border-radius: 40px;
    padding: 15px 35px 13px;
    background-color: rgba(235, 235, 240, .1);
}

.breadcrumbs ul .active {
    cursor: not-allowed;
}

.breadcrumbs ul li a:hover {
    padding: 17px 35px 17px;
    background-color: rgba(235, 235, 240, .1);
}

/* -------------------------------

06. Works grid

--------------------------------*/

.grid-2,
.grid-3 {
    width: 100%;
}

.grid-item {
    padding-right: 15px;
    padding-left: 15px;
    transition: .5s;
}

.grid-3 .grid-item {
    width: 33.333%;
}

.grid-2 .grid-item {
    width: 50%;
}

.grid-3 .sm {
    height: 20vw;
}

.grid-3 .md {
    height: 28vw;
}

.grid-3 .lg {
    height: 42vw;
}

.grid-2 .sm {
    height: 30.5vw;
}

.grid-2 .md {
    height: 42vw;
}

.grid-2 .lg {
    height: 63vw;
}

.classic-grid {
    margin-right: 0;
    margin-left: 0;
}

.classic-project {
    transition: .5s;
}

.classic-grid-3 .classic-project {
    height: 19vw;
}

.classic-grid-2 .classic-project {
    height: 32vw;
}

.classic-project .project-card {
    height: 100%;
}

/* -------------------------------

07. Works slider

--------------------------------*/

.fullscreen-project {
    height: 100vh;
    width: 100vw;
}

.fullscreen-project img {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fullscreen-project .overlay-3 {
    z-index: 2;
    position: relative;
}

.fullscreen-project .fs-project-title {
    width: 100%;
    padding-bottom: 90px;
    justify-content: center;
    align-self: flex-end;
    -webkit-transform: translateZ(10px);
    transform: translateZ(10px);
}

/* -------------------------------

08. Works carousel

--------------------------------*/

.swiper-carousel-slider .swiper-slide {
    padding-top: 90px;
    padding-bottom: 90px;
    width: 70vw;
    height: 100vh;
}

.carousel-project {
    height: 100%;
    width: 70vw;
    box-shadow: 0px 5px 15px 0 rgba(5, 5, 10, .1);
    transition: .3s;
}

.carousel-project:hover {
    box-shadow: 0px 5px 20px 0 rgba(5, 5, 10, .2);
}

.carousel-project img {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-project .overlay-3 {
    z-index: 2;
    position: relative;
}

.carousel-project .fs-project-title {
    width: 100%;
    padding-left: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-self: flex-end;
    -webkit-transform: translateZ(10px);
    transform: translateZ(10px);
}

/* -------------------------------

09. Portfolio cards

--------------------------------*/

.portfolio {
    position: relative;
}

.filter li {
    display: inline-block;
}

.project-card {
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0px 5px 10px 0 rgba(5, 5, 10, .1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.project-card:hover {
    box-shadow: 0px 5px 20px 0 rgba(5, 5, 10, .5);
}

.project-card img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    -o-object-fit: cover;
    object-fit: cover;
}

.project-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 20px;
    bottom: 5px;
    -webkit-transform: translateZ(10px);
    transform: translateZ(10px);
    background: transparent;
}

.project-title h3 {
    text-shadow: 0 2px 5px rgba(20, 20, 30, 0.50);
    align-self: center;
}

.more {
    position: relative;
    right: 40px;
    bottom: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    height: 50px;
    width: 50px;
    -webkit-box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.30);
    box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.30);
    -webkit-transition: .3s;
    transition: .3s;
}

.more i {
    font-size: 16px;
    align-self: center;
}

.classic-card:hover .more,
.project-card:hover .more {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* -------------------------------

10. Info

--------------------------------*/

.number {
    font-size: 26px;
}

.b-mark {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 50px;
    opacity: .1;
    z-index: -1;
}

/* -------------------------------

11. Brands

--------------------------------*/

.brands img {
    opacity: .5;
    width: 100px;
    height: 100px;
    -webkit-transition: .3s;
    transition: .3s;
}

.brands img:hover {
    opacity: 1;
}

/* -------------------------------

12. Call to action

--------------------------------*/

.call-to-action {
    background-size: cover;
}

/* -------------------------------

13. Footer

--------------------------------*/

footer {
    position: relative;
    background-image: linear-gradient(-180deg, #191923 0%, #14141E 100%);
    box-shadow: 0px -10px 20px 0 rgba(20, 20, 30, 0.20);
}

.footer-link {
    margin-bottom: 5px;
}

.footer-link a {
    opacity: .6;
    -webkit-transition: .3s;
    transition: .3s;
}

.footer-link a:hover {
    opacity: 1;
    margin-left: 10px;
}

.footer-link a:hover.footer-link {
    opacity: 1;
}

.cont {
    font-family: 'Poppins', sans-serif;
}

.cont i {
    text-align: center;
    width: 15px;
    margin-right: 10px;
}

/* -------------------------------

14. Single project page

--------------------------------*/

.project-slider {
    padding-right: 30px;
    padding-left: 30px;
    position: relative
}

.project-slider-nav {
    position: absolute;
    min-height: 70px;
    z-index: 9;
    bottom: 0;
    right: 30px;
}

/* -------------------------------

15. About page

--------------------------------*/

.review .avatar-lg {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.review {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* -------------------------------

16. Blog pages

--------------------------------*/

.pub-cover {
    width: 100%;
    box-shadow: 0px 5px 15px 0 rgba(5, 5, 10, .1);
}

.author {
    display: flex;
    justify-content: space-between;
}

.author .rv-cont {
    align-self: center;
}

.avatar-lg {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0px 10px 20px 0 rgba(20, 20, 30, 0.20);
}

.avatar-sm {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 0px 10px 20px 0 rgba(20, 20, 30, 0.20);
}

.author .avatar-lg {
    margin-right: 30px;
}

.avatar-sm img,
.avatar-lg img {
    width: 100%;
    object-fit: cover;
}

.avatar-sm {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.pagination ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

.pagination ul li a {
    padding-top: 13px;
    font-weight: bold;
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
}

/* -------------------------------

17. Contact page

--------------------------------*/

.form-field input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(235, 235, 240, .6);
    font-weight: 200;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: rgba(235, 235, 240, .6)
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.form-field {
    margin-bottom: 90px;
}

.contact-form .label {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 30px;
    bottom: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: text;
    transition: .5s;
}

.submit {
    cursor: pointer;
}

.success {
    text-align: center;
    transform: translateY(-60px);
    width: 200px;
    position: absolute;
    opacity: 0;
    top: 15px;
    left: 50%;
    margin-left: -100px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.success i {
    margin-left: 10px;
    font-size: 18px;
}

/* -------------------------------

18. Page 404 

--------------------------------*/

.fhf {
    line-height: 1px;
    display: block;
    margin-top: 50px;
    margin-bottom: -50px;
    font-size: 150px;
}

