/* -------------------------------------------

Name: 		ronnielutalo.github.io
Author:		Ronnie Lutalo
Portfolio:  https://ronnielutalo.github.io

------------------------------------------- */

.color-change {
    top: 20vh;
    left: -60px;
    padding: 10px 10px 0;
    background-color: rgba(10, 10, 15, 1);
    position: fixed;
    z-index: 9999999999999999999;
    border-radius: 0 0 2px 0;
    -webkit-box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.30);
    box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.30);
    -webkit-transition: .3s;
    transition: .3s;
}

.active-changer {
    left: 0;
}

.swapColor {
    height: 40px;
    width: 40px;
    display: block;
    margin-bottom: 10px;
    border-radius: 1px;
}

.swapOverlay {
    height: 40px;
    width: 40px;
    display: block;
    margin-bottom: 10px;
    border-radius: 1px;
}

.green {
    background-color: rgb(10, 170, 40);
    ;
}

.red {
    background-color: rgb(235, 45, 45);
}

.coral {
    background-color: rgb(255, 114, 53);
}

.orange {
    background-color: rgb(255, 165, 0)
}

.o-violet {
    background-image: radial-gradient(50% 50%, rgba(90, 20, 100, 1) 50%, rgba(90, 20, 100, 0) 100%);
}

.o-blue {
    background-image: radial-gradient(50% 50%, rgba(20, 20, 100, 1) 50%, rgba(20, 20, 100, 0) 100%);
}

.o-red {
    background-image: radial-gradient(50% 50%, rgba(100, 20, 30, 1) 50%, rgba(100, 20, 30, 0)100%);
}

.open-changer {
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    position: absolute;
    background-color: rgba(10, 10, 15, 1);
    height: 50px;
    width: 50px;
    top: 0;
    right: -50px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.30);
    box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.30);
}

.open-changer i {
    align-self: center;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ronnie-theme-card {
    width: 100%;
}

.ronnie-theme-frame {
    margin: 0;
}

@media (max-width: 768px) {
    .ronnie-theme-frame {
        margin-left: -15px;
        margin-right: -15px;
    }
}
